:root {
    --outfit: "Outfit", sans-serif;
    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;
    --sidebar-width: 291px;
    --sidebar-height: 1024px;
    --sidebar-logo-height: 88px;
    --sidebar-logo-width: 243px;
    --sidebar-menu-width: 243px;
    --sidebar-menu-height: 796px;
}

/* Banner Home CSS */
.bannerhome-main {
    background: linear-gradient(265.22deg, rgba(121, 121, 121, 0.06) 0.91%, rgba(223, 223, 223, 0.06) 97.92%);
    /* border-image-source: linear-gradient(260.18deg, #686868 2.33%, #454343 97.93%); */
}

.slick-parent {
    width: 68rem;
    height: 20rem;
}

.slick-slide {
    margin: 0px 18.5px;
}

.carousel-item-data:hover {
    background: #4a5fa2;
    transition: 0.4s;

    #aiP {
        color: #e0e0e0;
    }

    #modP {
        color: #b6b6b6;
    }
}

.slick-dots {
    li {
        margin-left: 16px !important;
        margin-bottom: -10px !important;
    }

    button::before {
        font-size: 16px !important;
        color: rgba(74, 95, 162, 1) !important;
    }
}

/* Special Article CSS */
.special-article-main {
    background: linear-gradient(261.1deg, rgba(121, 121, 121, 0.06) 2.65%, rgba(223, 223, 223, 0.06) 99.07%);
}

.special-article-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

/* Pricing CSS */
.pricing-main {
    background: linear-gradient(261.1deg, rgba(121, 121, 121, 0.06) 2.65%, rgba(223, 223, 223, 0.06) 99.07%);
}

/* Pricing Type CSS */

.pricing-item-list {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-top: 5px;
}

.pricing-item-list-data {
    width: inherit;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.pricing-item-list-data img {
    width: 22.5px;
    height: 22.5px;
}

.pricing-item-list-data p {
    width: 399px;
    height: 24px;
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(192, 192, 192, 1);
}

/* Testimonials CSS */
.testimonials-main {
    width: 75vw;
    border-radius: 20px;
    border: 0.5px solid rgba(67, 69, 69, 1);
    background: linear-gradient(261.1deg, rgba(121, 121, 121, 0.06) 2.65%, rgba(223, 223, 223, 0.06) 99.07%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    gap: 30px;
}

.testimonials-container {
    width: inherit;
    height: 24rem;
    display: flex;
    flex-direction: row;
}

.client-main {
    width: 510px;
    border-radius: 20px;
    border: 0.5px solid rgba(69, 67, 67, 1);
    background: linear-gradient(82.39deg, rgba(111, 111, 111, 0.09) 5.09%, rgba(223, 223, 223, 0.09) 98.86%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 20px;
}

.client-blur {
    width: 510px;
    border-radius: 20px;
    border: 0.5px solid rgba(69, 67, 67, 1);
    background: linear-gradient(82.39deg, rgba(111, 111, 111, 0.09) 5.09%, rgba(223, 223, 223, 0.09) 98.86%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    filter: blur(3px);
    scale: 0.87;
    margin: 0px 20px;
}

.client-container {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 47px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.4);
    justify-content: space-between;
}

.client-image {
    width: 97px;
    height: 97px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 1);
}

.client-data {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: -74px;
}

#clientCompany {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    color: rgba(100, 134, 242, 1);
}

#clientName {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(219, 219, 219, 1);
}

#clientTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    color: rgba(149, 149, 149, 1);
}

.client-stars {
    width: 120px;
    /* to be updated to 108px */
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    /* to be updated to 2px */
}

.client-stars img {
    height: 20px;
    width: 20px;
}

.client-review {
    width: 470px;
    height: 125px;
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: rgba(222, 222, 222, 1);
    margin-top: 20px;
}

/* Sidebar CSS */
.sidebar-main::-webkit-scrollbar {
    display: none;
}

.scroll-bar::-webkit-scrollbar {
    width: 5px;
    background-color: #E7E2E2;
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #8D8888;
    border-radius: 10px;
}

/* Sidebar Item CSS */
.sidebaritem-main {
    width: var(--sidebar-menu-width);
    height: 56px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font);
    cursor: pointer;
    text-decoration: none;
}

.active {
    background-color: rgba(74, 95, 162, 1);
}

.sidebaritem-main:hover {
    background-color: rgba(218, 227, 255, 0.3);
    transition: 0.3s;
}

.sidebaritem-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 17px;
}

.sidebaritem-container p {
    width: auto;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25.2px;
}

.sidebaritem-icon {
    width: 24px;
    height: 24px;
}

.arrow {
    position: absolute;
    right: 48px;
}

.arrow-up {
    rotate: -180deg;
}

.arrow-hidden {
    display: none;
}

/* Dropdown CSS */
.dropdown-main {
    width: 217px;
    height: 326px;
    opacity: 0px;
    border-left: 2px dashed rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    overflow-y: auto;
    font-family: var(--outfit);
    cursor: pointer;
}

.dropdown-main::-webkit-scrollbar {
    width: 0px;
}

/* Dropdown Item CSS */
.dropdown-item-main {
    width: 203px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item-main img {
    width: 22px;
    height: 7px;
}

.dropdown-item-container {
    width: 175px;
    height: 26px;
    border-radius: 5px;
    color: rgba(187, 187, 187, 1);
    text-decoration: none;
}

.dropdown-item-container:active {
    background: rgba(218, 227, 255, 1);
    color: rgba(74, 95, 162, 1);
}

.dropdown-item-container p {
    font-size: 14px;
    font-weight: 600;
    line-height: 17.64px;
    text-align: left;
    padding: 5px 21px 5px 21px;
}

.dropdown-item-container:hover {
    background: rgba(255, 255, 255, 0.12);
    color: rgba(187, 187, 187, 1);
    transition: 0.5s;
}

.dropdown-item-active {
    background: rgba(218, 227, 255, 1);
    color: rgba(74, 95, 162, 1);
}

.scroll-bar {}